
body {
    height: 100vh;
    background-color: blue
    color: whitesmoke;
    display: grid;
    place-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    text-transform:
}
